
<div style="margin-top: 20px;">
    <center>
        <a class="fa fa-weibo footer-link" href="http://weibo.com/u/3413237474" target="_blank"></a>
    </center>
    <center>
        Contact me：<a href="mailto:1090061055@qq.com">1090061055@qq.com</a>
    </center>
    <center>
        © 2018 <a href="https://www.luchunzhou.cn" target="_blank">luchunzhou.cn</a> 浙ICP备17016267号-1 &nbsp;&nbsp;
    </center>
</div>
